.lost {
    width: 100%;
    row-gap: 32px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;

    &__content {
        display: flex;
        row-gap: 16px;
        flex-direction: column;
    }
}