.search {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;

    &__title {
      width: 0;
      height: 0;
      left: -1000vw;
      bottom: -1000vh;
      position: absolute;
    }

    &__search {
      width: 100%;
      display: flex;
      column-gap: 16px;
      align-items: center;

      &__input {
        flex: 1;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__instruction {
      flex: 1;
      row-gap: 8px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &__illustration {
        width: 50%;
        margin-bottom: 16px;
      }
    }
  }
}
