@use 'theme/colors.module';

@use 'components/Button/Button.module.scss' as button;

$icon-gap: 4px;

$border-size: 1px;
$border-radius: 4px;
$inner-padding: 12px;

.input {
  width: 100%;
  border: none;
  font: inherit;
  outline: none;
  font-size: 14px;
  background: none;
  color: colors.$black;
  display: inline-flex;
  box-sizing: border-box;
  padding: $inner-padding;
  padding-right: calc(
    (var(--right-icon-count, 0) * button.$icon-size) + /** Number of icons **/
      (max(var(--right-icon-count, 0) - 1, 0) * $icon-gap) + /** Gap between icons **/
      (min((var(--right-icon-count, 0) + 1), 2) * $inner-padding / min((var(--right-icon-count, 0) + 1), 2)) /** Inner padding **/
  );
  padding-left: calc(
    (var(--left-icon-count, 0) * button.$icon-size) + /** Number of icons **/
      (max(var(--left-icon-count, 0) - 1, 0) * $icon-gap) + /** Gap between icons **/
      (min((var(--left-icon-count, 0) + 1), 2) * $inner-padding / min((var(--left-icon-count, 0) + 1), 2)) /** Inner padding **/
  );

  &__container {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    border-radius: $border-radius;
    background-color: colors.$white;
    border: $border-size solid colors.$grey-light;

    &:focus-within {
      outline: colors.$primary auto 1px;
    }

    &__right,
    &__left {
      inset-block: 0;
      position: absolute;
      align-items: center;
      flex-direction: row;
      display: inline-flex;
      pointer-events: none;
      column-gap: $icon-gap;
      padding: 0 $inner-padding / 2;

      &__item {
        pointer-events: auto;
      }
    }

    &__left {
      align-self: flex-start;
    }

    &__right {
      align-self: flex-end;
    }
  }

  &::placeholder {
    color: colors.$grey;
  }

  &[type='search'] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  // &:-webkit-autofill,
  // &:-webkit-autofill:hover,
  // &:-webkit-autofill:focus,
  // &:-webkit-autofill:active {
  //   -webkit-box-shadow: 0 0 0 1000px colors.$white inset !important;
  // }

  &__field {
    row-gap: 4px;
    display: inline-flex;
    flex-direction: column;
  }
}
