@use 'sass:math';

@use 'theme/colors.module';

@use 'components/Button/Button.module.scss' as button;

$icon-gap: 4px;

$border-size: 1px;
$border-radius: 4px;

.input {
  row-gap: 8px;
  display: inline-flex;
  flex-direction: column;

  --inner-padding: 12px;

  &--size {
    &-sm {
      --inner-padding: 7px;
    }

    &-md {
      --inner-padding: 12px;
    }
  }

  &__input {
    width: 100%;
    border: none;
    font: inherit;
    outline: none;
    font-size: 14px;
    background: none;
    color: colors.$black;
    display: inline-flex;
    box-sizing: border-box;
    padding: var(--inner-padding);
    padding-right: calc(
      (var(--right-icon-count, 0) * button.$icon-size) + /** Number of icons **/
        (max(var(--right-icon-count, 0) - 1, 0) * $icon-gap) + /** Gap between icons **/
        (
          min((var(--right-icon-count, 0) + 1), 2) *
            calc(var(--inner-padding) / min((var(--right-icon-count, 0) + 1), 2))
        )
        /** Inner padding **/
    );
    padding-left: calc(
      (var(--left-icon-count, 0) * button.$icon-size) + /** Number of icons **/
        (max(var(--left-icon-count, 0) - 1, 0) * $icon-gap) + /** Gap between icons **/
        (
          min((var(--left-icon-count, 0) + 1), 2) *
            calc(var(--inner-padding) / min((var(--left-icon-count, 0) + 1), 2))
        )
        /** Inner padding **/
    );

    /* used to override pale yellow color that chrome uses when user chooses an item from its autocomplete list */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: colors.$black;
    }

    &:-webkit-autofill:focus {
      -webkit-text-fill-color: colors.$black;
    }

    &[type='search'] {
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }
    }
  }

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: $border-radius;
    background-color: colors.$black-5;
    border: $border-size solid transparent;

    &:focus-within {
      border-color: colors.$primary;
      box-shadow: inset 0 0 0 1px colors.$primary;
    }

    &__right,
    &__left {
      inset-block: 0;
      position: absolute;
      align-items: center;
      flex-direction: row;
      display: inline-flex;
      pointer-events: none;
      column-gap: $icon-gap;
      padding: 0 calc(var(--inner-padding) / 2);

      &__item {
        pointer-events: auto;
      }
    }

    &__left {
      align-self: flex-start;
    }

    &__right {
      align-self: flex-end;
    }
  }

  &::placeholder {
    color: colors.$black-50;
  }
}
