@use 'theme/colors.module';

$border-size: 1px;
$border-radius: 4px;
$inner-padding: 12px;

.input {
  font: inherit;
  font-size: 14px;
  color: colors.$black;
  display: inline-flex;
  padding: $inner-padding;
  border-radius: $border-radius;
  background-color: colors.$white;
  border: $border-size solid colors.$light-grey;

  &::placeholder {
    color: colors.$grey;
  }

  &:focus {
    outline: colors.$primary auto 1px;
  }

  &[type='search'] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px colors.$white inset !important;
  }

  &__container {
    row-gap: 4px;
    display: inline-flex;
    flex-direction: column;
  }
}
