@use 'theme/colors.module';


.icon {
    width: 18px;
    aspect-ratio: 1;
    
    mask: var(--icon) no-repeat center;
    -webkit-mask: var(--icon) no-repeat center;

    mask-size: contain;
    -webkit-mask-size: contain;
    
    background-color: currentColor;
}
