@use 'theme/colors.module';


.icon {
    width: 18px;
    aspect-ratio: 1;
    
    mask-size: contain;
    -webkit-mask-size: contain;
    mask: var(--icon) no-repeat center;
    -webkit-mask: var(--icon) no-repeat center;

    background-color: currentColor;
}
