@use 'theme/colors.module';

$icon-size: 28px;

$gap: 12px;

$border-size: 1px;
$border-radius: 4px;

$padding-block: 12px;
$padding-inline: 24px;

.button {
  border: none;
  font: inherit;
  appearance: none;
  column-gap: $gap;
  border-radius: $border-radius;
  padding-block: $padding-block;
  padding-inline: $padding-inline;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: $border-size solid transparent;

  &[disabled] {
    color: colors.$grey;
    cursor: not-allowed;
  }

  &--has-onClick {
    cursor: pointer;
  }

  &:not(#{&}--has-onClick) {
    pointer-events: none;
  }

  &__label {
    display: inline-flex;
  }

  &__icon,
  &__label,
  &__spinner {
    color: inherit;
  }

  &--variant {
    &-primary {
      color: colors.$white;
      background-color: var(--color, colors.$primary);

      &[disabled] {
        background-color: colors.$grey-light;
      }

      &:active {
        background-color: var(--color, darken(colors.$primary, 10%));
      }
    }

    &-icon {
      padding: 0;
      aspect-ratio: 1;
      width: $icon-size;
      color: var(--color, colors.$black);
      background: transparent;
    }

    &-reverse {
      color: var(--color, colors.$primary);
      border-color: colors.$grey;
      background-color: colors.$white;

      &[disabled] {
        background-color: colors.$grey-light;
      }
    }

    &-outline {
      background-color: transparent;
      border-color: var(--color, colors.$primary);
      color: var(--color, colors.$primary);

      &[disabled] {
        border-color: colors.$grey-light;
      }
    }

    &-link {
      padding: 0;
      height: 24px;
      border: none;
      color: var(--color, colors.$primary);
      background-color: transparent;

      &:active {
        color: var(--color, darken(colors.$primary, 20%));
      }
    }
  }
}
