@use 'theme/colors.module';

#root,
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: -webkit-fill-available;
}

body {
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: colors.$background;
}

#root {
  width: 100%;
  display: flex;
  padding: 12px;
  max-width: 500px;
  padding-bottom: 0;
  padding-top: 32px;
  align-self: center;
  box-sizing: border-box;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}