$red: #B22F2F;
$black: #000000;
$white: #FFFFFF;

$grey: rgba($black, 56%);
$grey-light: rgba($black, 20%);
$grey-lighter: rgba($black, 10%);

$primary: #4E1ED9;

$background: #F5F5F5;

$invalid: $red;

$title: $black;
$text: rgba($black, 56%);

:export {
    red: $red;
    black: $black;
    white: $white;
    grey: $grey;
    grey-light: $grey-light;
    primary: $primary;
    background: $background;
    invalid: $invalid;
    title: $title;
    text: $text;
}