$red: #B22F2F;
$white: #FFFFFF;
$black: #191A1A;
$primary: #4E1ED9;

$black-5: rgba($black, 5%);
$black-10: rgba($black, 10%);
$black-20: rgba($black, 20%);
$black-50: rgba($black, 50%);
$black-60: rgba($black, 60%);

$invalid: $red;

$background: $white;

$overlay: $black-60;

$title: $black;
$text: $black-50;

:export {
    red: $red;
    white: $white;
    black: $black;
    primary: $primary;

    black-50: $black-50;
    black-20: $black-20;
    black-10: $black-10;
    black-5: $black-5;
    
    invalid: $invalid;
    
    background: $background;
    
    overlay: $overlay;
    
    title: $title;
    text: $text;
}