.login {
    width: 100%;
    row-gap: 32px;
    display: flex;
    margin-top: 32px;
    align-self: center;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__form {
        row-gap: 16px;
        display: flex;
        flex-direction: column;
    
        &__submit {
            margin-top: 16px;
        }
    }
}