@use 'theme/colors.module';

.screen {
    flex: 1;
    width: 100%;
    display: flex;
    row-gap: 16px;
    flex-direction: column;

    &__outlet {
        flex: 1;
        width: 100%;
        display: flex;
        margin-bottom: 6Opx;
        flex-direction: column;
    }

    &__navigation-bar {
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;

        &__list {
            margin: 0;
            display: flex;
            padding: 0 12px;
            list-style: none;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

        &__item__button {
            row-gap: 4px;
            width: 80px;
            height: 60px;
            padding: 8px;
            display: flex;
            color: colors.$text;
            flex-direction: column;

            &:not(&--is-active) {
                opacity: 0.5;
            }

            &--is-active,
            &:hover {
                color: colors.$black;
            }

            &__label {
                color: inherit;
            }

            &__icon {
                color: inherit;
            }
        }
    }
}